.contact-form {
    width: 300px;
    background-color: #ECEFF1;
    height: 470px;
    position: absolute;
    left: 50%;
    top: -200%;
    display: none;
    border: 1px solid black;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    overflow: hidden;
    z-index: 100;


    @include mixins-min(desk12, n) {
        border: none;
        left: 75%;
        top: 50%;
    }
}

.js-contact-form--visibly {
    display: block;
    left: 50%;
    top: 50%;
    height: 300px;

    @include mixins-min(ph30, p) {
        height: 470px;
    }

    @include mixins-min(tab60, l) {
        height: 470px;
    }

    @include mixins-min(tab60, n) {
        width: 500px;
    }

    @include mixins-min(desk12, n) {
        width: 500px;
        left: 75%;
        top: 50%;
    }


}

.contact__button-close {
    position: absolute;
    background-color: transparent;
    top: 10px;
    right: 10px;
    outline: none;
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: .25s linear;
    z-index: 99;

    &:hover .contact__bar:nth-child(1) {
        transform: rotate(180deg);
    }

    &:hover .contact__bar:nth-child(2) {
        transform: rotate(90deg);
    }

    .contact__bar {
        width: 30px;
        position: absolute;
        top: 15px;
        left: 0;
        display: block;
        transform: rotate(45deg);
        transition: transform .3s;
        border-top: solid 1px black;
    }

    .contact__bar:nth-of-type(2) {
        transform: rotate(-45deg);
    }
}

.contact-wrapper-media {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100px;
    height: 100%;
    font-size: 33px;
    display: flex;
    justify-content: space-around;

    a {
        color: #444444;
    }
}

// form style  SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS

.form {
    position: absolute;
    top: 0;
    left: 0;
}

.form__row {
    position: relative;
    left: 5%;
    width: 90%;
    margin-top: 2px;

    &:nth-child(1) {
        margin-top: 20px;
    }

    &:nth-child(4) {
        margin-top: 15px;
    }


    &:nth-child(5) {
        margin-top: 25px;
    }

    @include mixins-min(ph30, p) {
        margin-top: 20px;
    }

    @include mixins-min(tab60, l) {
        margin-top: 20px;
    }

    // &:nth-child(1) {
    //     top: 30px;
    // }

    // &:nth-child(2) {
    //     top: 100px;
    // }

    // &:nth-child(3) {
    //     top: 170px;
    // }

    // &:nth-child(4) {
    //     top: 350px;
    // }

    // &:nth-child(5) {
    //     top: 400px;
    // }
}

.form__input {
    border-radius: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    padding: 0.1rem;
    border: 1px solid #aaa;
    display: block;
    width: 100%;
    color: #666;

    @include mixins-min(ph30, p) {
        padding: 0.6rem;
    }

    @include mixins-min(tab60, l) {
        padding: 0.6rem;
    }

    &:focus {
        border-color: #9DC9F5;
        box-shadow: inset 0 0 0 1px #9DC9F5, inset 0 1px 5px rgba(0, 0, 0, 0.07);
        outline: none;
    }
}

.textarea {
    height: 50px;

    @include mixins-min(ph30, p) {
        height: 130px;
    }

    @include mixins-min(tab60, l) {
        height: 130px;
    }
}

.form__label {
    font-weight: bold;
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.submit-btn {
    font-family: 'Lato', sans-serif;
    padding: 10px 15px;
    background: #F15C5C;
    border: 0;
    border-radius: 0.2rem;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s background-color;
    cursor: pointer;
}

.form .submit-btn:hover {
    background: #A60E0E;
}

.checkbox-cnt {
    display: block;
    padding-left: 3rem;

    position: relative;
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #444;
    cursor: pointer;
}

.form .checkbox-cnt .state {
    width: 2rem;
    height: 2rem;
    display: block;
    position: absolute;
    left: 0;
    top: -5px;
    border: 1px solid #aaa;
    border-radius: 0.2rem;
}

.form .checkbox-cnt .state:before {
    width: 1rem;
    height: 1rem;
    border-radius: 0.2rem;
    background: #F15C5C;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    content: '';
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
}

.form .checkbox-cnt input:checked~.state:before {
    animation: checkboxShowAnim 0.5s 1;
    opacity: 1;
}

.form .checkbox-cnt input {
    position: absolute;
    top: -5px;
    left: 0;
    width: 2rem;
    height: 2rem;
    z-index: 2;
    cursor: pointer;
    padding: 0;
    margin: 0;
    opacity: 0;
}

.form input[type=text].error,
.form input[type=email].error,
.form textarea.error,
.form .checkbox-cnt input.error~.state {
    border-color: #E01546;

}

.field-error {
    color: #E01546;
    font-size: 14px;
    text-align: right;
    margin-top: 3px;
}

.form__row-checkbox>.field-error {
    margin-top: 10px;
    text-align: left;
}

@keyframes checkboxShowAnim {
    0% {
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(0.2);
    }

    50% {
        transform: translate(-50%, -50%) scale(1.2);
    }

    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.element-is-busy {
    position: relative;
    pointer-events: none;
    opacity: 0.5;
}

.element-is-busy::after {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-right-color: rgba(0, 0, 0, 0.7);
    transform: translate(-50%, -50%) rotate(0deg);
    content: '';
    animation: rotateSingleLoading 0.3s infinite linear;
    z-index: 100;
}

@keyframes rotateSingleLoading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.send-error {
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    color: #E01546;

    span {
        font-size: 4rem;
        display: block;
        margin-bottom: 10px;
    }
}

.form-send-success {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    font-size: 3rem;
    padding: 10%;
    text-align: center;

    span {
        font-size: 1.4rem;
        color: #888;
        font-weight: normal;
        display: block;
    }
}

.form-send-success strong {
    display: block;
    margin-bottom: 20px;
}

label,
input {
    display: block;
}

.form {
    background-color: #ECEFF1;
    position: relative;
    width: 100%;
    height: 100%;
}

.label-name,
.label-email,
.label-message {
    font-size: 1.6em;
    margin: 1% 7% 1%;
    line-height: .5;
    border-radius: 3px;

    &:nth-last-of-type(1) {
        margin-top: 4%;
    }
}

.input-name,
.input-email,
.area-message {
    font-size: 1.8em;
    line-height: 1.8;
    margin: 3% 5% 3%;
    width: 70%;
    border: solid 1px #333333;
    border-radius: 3px;
}

.area-message {
    width: 90%;
    height: 120px;
    line-height: 1.2;
}

.checkbox-cnt {
    display: flex;
    margin: 0% 7% 0;

    .input-checkbox {
        width: 20px;
        height: 20px;
        margin: 0;
        display: inline-block;
    }

    .comment {
        font-weight: 400;
        text-align: left;
        padding-left: 15px;
        font-size: 1.5em;
        line-height: 1.2;
    }
}

.comment-added-text {
    margin: 3px;
    font-weight: 400;
    font-size: 1.5em;
    padding-left: 6%;

    &:hover {
        font-weight: 700;
    }

}

.button-submit {
    margin: 4% 7%;
    width: 100px;
    height: 30px;
}